.list-box {
    width: 25%;
    margin-right: 2em;

    &.vertical {
        width: 100%;
    }

    button {
        a {
            text-align: left;
        }
    }

    .button-wrapper {

        &:not(:first-child) {
            margin-top: -1px;
        }

        &:not(:last-child) {
            
            /deep/ button {
                border-bottom: 1px solid #e0b400;
            }
        }
    }
}