.list-box {
    width: 25%;
    margin-right: 2em;

    &.vertical {
        width: 100%;
    }

    button {
        a {
            text-align: left;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #e0b400;
        }
    }
}